{% extends 'base.html' %}

{% block head %}
<title>Feedback</title>
{% endblock %}

{% block body %}
<div class="main-div-2">
    <h1 class="h1-index">Here's your feedback</h1>
    <!-- <span>{{ feedback }}</span> -->
    <div class="feedback-div">
        <br>
        {% for category, feedback_list in feedback.items() %}
            <h2 class="feedback-title">{{ category }}</h2>
            <ul>
                {% for item in feedback_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        <br>
    </div>

    <div class="return-div">
        <a class="return-a" href="{{ url_for('index') }}">Upload another file</a>
    </div>

</div>
{% endblock %}